config.mk
*.o
src/supl-cert
src/supl-proxy
src/supl-client
src/libsupl.*
src/asn-supl/libasnsupl.*
src/asn-supl/*.c
src/asn-supl/*.h
src/asn-supl/*.o
src/asn-rrlp/*.c
src/asn-rrlp/*.h
src/asn-rrlp/*.o
src/asn-rrlp/libasnrrlp.*
*.stamp
